<div class="page-header">
	<h1>Sign In</h1>
</div>

<div class="row">
	<div class="span16">
		<div class="form-stacked">
			<fieldset>
				<div class="clearfix">
					<%= form_tag sessions_path do %>
					  <div>
							<%= label_tag :email %>
							<%= text_field_tag :email, params[:email] %>
					  </div><br />
					  <div>
							<%= label_tag :password %>
							<%= password_field_tag :password %>
					  </div><br />
						<div>
							<%= submit_tag "Sign In", :class => "btn primary" %>
						</div>
					<% end -%>
				</div>
			</fieldset>
		</div>
	</div>
</div>