<hr>
<% for nugget in @nuggets %>
	<div class="row">
		<div class="span2">
			<%= gravatar_for(nugget.user, :gravatar => {:size => 30}) %>
		</div>
		<div class="span12">
				<p><%= link_to nugget.user.username, user_path(nugget.user) %> says:</p>
				<p>My advice to <%= link_to "#{nugget.audience}", audience_nuggets_path(:audience => nugget.audience) %> about <%= link_to "#{nugget.topic}", topic_nuggets_path(:topic => nugget.topic) %> is this:</p>
				<p><%= nugget.body %></p>
		</div>
		<div class="span2">
				<% if nugget.user == current_user %>
					<%= link_to "remove", nugget, :method => :delete, :confirm => "It is not OK to remove your advice."%>
				<% end %>
		</div>
	</div>
	<hr>
<% end %>