<p>

	<%= form_for @user do |f| -%>

		<%= render "shared/errors", :object => f.object %>

		<p>	
			<%= f.label :username, "Full Name" %>
			<%= f.text_field :username, :placeholder => "Your Full Name"  %>
		</p>
		<p>	
			<%= f.label :email, "Email" %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password, "Password" %>
			<%= f.password_field :password, :placeholder => "Secret" %>
		</p>
		<p>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, :placeholder => "Secret" %>
		</p>
		<p>	
			<%= f.label :description, "Short Description" %>
			<%= f.text_field :description, :placeholder => "Billionaire Playboy, Cigar-Lover, etc..." %>
		</p>
		<p>
			<%= f.submit "Update Your Info" %>
		</p>

	<% end -%>

</p>

<p>No changes? Head back to <%= link_to "your profile", user_path(@user) %></p>