<h2>Your Info</h2><br />

<div class="row">
	
	<div class="span2">
		<%= gravatar_for(@user, :gravatar => {:size => 50}) %>
		<%= link_to "Change", "http://gravatar.com/emails" %>
	</div>

	<div class="span14">
		<div class="form-stacked">
		
		<%= form_for @user do |f| -%>
			<%= render "shared/errors", :object => f.object %>
			<p>	
				<%= f.label :username, "Full Name" %>
				<%= f.text_field :username, :placeholder => "Your Full Name"  %>
			</p>
			<p>	
				<%= f.label :email, "Email" %>
				<%= f.text_field :email %>
			</p>
			<p>
				<%= f.label :password, "Password" %>
				<%= f.password_field :password, :placeholder => "Secret" %>
			</p>
			<p>
				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation, :placeholder => "Secret" %>
			</p>
			<p>	
				<%= f.label :description, "Why is your advice credible?" %>
				<%= f.text_area :description, :placeholder => "I've been a wild bird enthusiast for years.", :rows => 3  %>
			</p>
		
		</div><br />
		
		<p><%= f.submit "Update", :class => "btn primary" %></p>
		<p><%= link_to "Back", user_path(@user) %></p>
		
	</div>
	<% end -%>
</div>