<h2>Share Your Advice</h2><br />
<%= render "shared/nuggets_form" %>

<div class="row">
	<div class="span11">
		<h2><%= @user.username %>'s Advice</h2>
		<% if @user.nuggets.empty? %>
			<p>(is for nobody, apparently)</p>
		<% else %>
			<p>to <%= pluralize(@user.nuggets.count, "group")%> of people</p>
			<%= render @nuggets %>
		<% end %>
	</div>

	<div class="span4 offset1">
		<% if current_user.id == @user.id %>
			<%= render "users/profile_logged" %>
		<% else %>
			<%= render "users/profile_not_logged" %>
		<% end %>
	</div>

</div>
