<h2>Share Your Advice</h2><br />
<%= render "shared/nuggets_form" %>

<div class="row">
	<div class="span11">
		<% if @user.nuggets.empty? %>
			<h2>No advice given yet</h2>
		<% else %>
			<h2>My <%= pluralize(@user.nuggets.count, "Piece")%> of Advice</h2>
			<%= render @nuggets %>
		<% end %>
	</div>

	<div class="span4 offset1">
		<% if current_user.id == @user.id %>
			<%= render "users/show_logged" %>
		<% else %>
			<%= render "users/show_not_logged" %>
		<% end %>
	</div>

</div>
