<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="topbar">
	<div class="fill">
		<div class="container">
			<li class="brand"><%= link_to "Advyce", root_path %></li>
				<ul class="nav">
					<% if current_user %>
						<li><%= link_to "All Users", users_path %></li>
						<li><%= link_to "Profile", user_path(current_user.id) %></li>
						<li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
						<li><%= link_to "Sign Out", sign_out_path %></li>
					<% else %>
					  <li><%= link_to "Sign In", sign_in_path %></li>
						<li><%= link_to "Register", sign_up_path %></li>
					<% end %>
				</ul>
		</div>
	</div>
</div>


<div class="container-body">
	<div class="container">
			<% flash.each do |name, msg| %>
		  	<%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message" %>
			<% end %>

			<%= yield %>
			<%= debug(params) if Rails.env.development? %>

	</div>
</div>

</body>
</html>
